nav {
    background-color: var(--copper);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.2);
}

nav h3 {
    color: var(--white);
    font-size: 24px;
}

@media screen and (min-width: 1024px) {
    nav {
        padding: 24px;
    }
}