.tabs-section {
    padding: 24px;
}

.tabs-container {
    display: flex;
    align-items: center;
}

.tab-button-container {
    position: relative;
}

/* --- Tab Button --- */
.tab-button {
    font-size: 16px;
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
}

.tab-button:hover {
    background-color: lightgray;
}

.active-button {
    background-color: lightgreen;
}

/* --- New Tab button --- */
.new-tab-button {
    height: 24px;
    width: 24px;
    margin-left: 8px;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    transition-property: box-shadow;
    transition-duration: 0.25s;
}
.new-tab-button:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

/* --- New tab label --- */
.new-tab-label {
    position: absolute;
    padding-left: 4px;
    padding-right: 4px;
    top: -12px;
    right: 4px;
    background: burlywood;
    border-radius: 4px;
}

/* --- Tab Content --- */
.tab-content {
    padding: 16px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.tab-image {
    margin-top: 16px;
}