/* 
    Breakpoints:
    - 640
    - 768
    - 1024
    - 1280
    - 1536
*/

* {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: "Montserrat", sans-serif;
}

:root {
    --white: #FFFFFF;
    --purple: #6C44D7;
    --green: #11DB33;
}

body {
    position: relative;
    min-height: 100vh;
}

/* --- Common --- */
.section-container {
    padding: 16px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* --- Navbar --- */
.navbar {
    background-color: var(--purple);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
}

.navbar-content h3 {
    color: var(--white);
    font-size: 20px;
}

.navbar-cart-icon {
    cursor: pointer;
}

/* --- Sidebar --- */
.sidebar-container {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: var(--white);
    padding: 16px;
    height: calc(100% - 32px);
    width: 300px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
    z-index: 100;
    transform: translateX(110%);
    transition-property: transform;
    transition-duration: 0.25s;
    overflow: scroll;
}

.sidebar-title {
    margin-bottom: 16px;
}

@media screen and (min-width: 1024px) {
    .sidebar-container {
        width: 400px;
    }
}

/* --- Overlay --- */
.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    cursor: pointer;
}

/* --- Product card --- */
.product-card-container {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.10);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.product-card-image {
    height: 200px;
    /* background: url('https://picsum.photos/200/300'); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.product-card-details {
    padding: 16px;
}

.product-card-details h3 {
    margin-bottom: 8px;
    height: 48px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.product-card-description{
    margin-bottom: 8px;
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.product-card-price {
    text-align: center;
    color: var(--green);
}

.add-to-cart-button {
    cursor: pointer;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .products-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        row-gap: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .products-section {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 24px;
        row-gap: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .product-card-container {
        width: 282px;
    }
    .products-section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Cart Products */
.cart-product-container {
    margin-bottom: 16px;
}

.cart-product-details h3 {
    font-size: 16px;
    margin-bottom: 16px; 
}

.cart-product-price-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.cart-product-buttons-container {
    display: flex;
    justify-content: space-between;
}

.cart-product-buttons-container button {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.cart-product-buttons-container p {
    font-weight: 700;
}

.cart-product-image {
    height: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (min-width: 1024px) {
    .cart-product-container {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
    .cart-product-details {
        width: 75%;
    }
    .cart-product-image {
        width: 25%;
    }
}