.about-us-section {
    padding: 16px;
}

.about-us-section h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
}

.about-us-cards {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1024px) {
    .about-us-section {
        padding: 24px;
    }
}